// Variáveis do Grid

$cols: 12;
$gutter: 20px;
$breakpoints: (
  large: 1200px,
  medium: 760px,
  small: 480px,
);

// Mixin media-query
@mixin device($size) {
  @if $size == large {
    @media screen and (min-width: map-get($breakpoints, large)) {
      @content;
    }
  } @else if $size == medium {
    @media screen and (min-width: map-get($breakpoints, medium)) and (max-width: #{map-get($breakpoints, large) - 1}) {
      @content;
    }
  } @else if $size == small {
    @media screen and (max-width: #{map-get($breakpoints, small) - 1}) {
      @content;
    }
  }
}
