.container {
  max-width: 1200px;
  margin: 0 auto;
  background: royalblue;
  &::after,
  &::before {
    content: '';
    display: table;
    clear: both;
  }
}

.grid-3 {
  width: calc(25% - 20px);
  color: white;
  background: rgba(0, 0, 0, 0.5);
  float: left;
  margin-inline: 10px;
}
