@use 'loop' as *;

$cor-primaria: #84e;
$font-primaria: monospace;
$gutter: 60px;

@function em($pixels, $context: 16px) {
  @return ($pixels * 1px / $context) * 1em;
}

@function grid($colunas, $total: 12) {
  @return percentage($colunas / $total);
}

div {
  width: grid(6);
}

@mixin title-large {
  font-size: em(62);
  font-weight: bold;
  font-family: monospace;
  line-height: 1;
}

@mixin border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@mixin separador($color: pink, $largura: 100px) {
  &::after {
    content: '';
    display: block;
    width: $largura;
    height: 4px;
    background: $color;
  }
}

@mixin box-shadow($shadow...) {
  box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
}

@mixin mobile {
  @media (max-width: 600px) {
    @content;
  }
}

section {
  max-width: 600px;
  margin: 0 auto;
  @include border-box;
  border-radius: 5px;
}

.modal {
  @include box-shadow(
    5px 5px 0 0 rgba(0, 0, 0, 0.5),
    10px 10px 0 0 rgba(0, 0, 0, 0.5),
    15px 15px 0 0 rgba(0, 0, 0, 0.5)
  );
  h1 {
    color: $cor-primaria;
    font-family: $font-primaria;
    margin-bottom: $gutter;
    @include title-large;
    @include separador($cor-primaria, 400px - 2 * $gutter);
    @include mobile {
      color: #84e;
      font-size: em(40);
    }
  }
  p {
    font: {
      size: 1.2em;
      family: $font-primaria;
      style: italic;
    }
    line-height: 1.4;
    max-width: 400px;
    @include mobile {
      font-size: em(36);
    }
  }
  a {
    display: block;
    max-width: 120px;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    background: $cor-primaria;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: $font-primaria;

    &:hover {
      background: transparentize($cor-primaria, 0.5);
    }
  }
}

ul {
  text-align: center;
  li {
    display: inline-block;
    list-style: none;
    a {
      display: block;
      padding: 20px;
      text-decoration: none;
      background: blue;
      color: white;
      &:hover,
      &.active {
        background: darken(blue, 20%);
      }
    }
  }
}
