@use 'reset';
@use 'grid' as *;

p {
  color: red;
  @include device(large) {
    color: blue;
  }
  @include device(medium) {
    color: green;
  }
  @include device(small) {
    color: yellow;
  }
}
